<div class="row">
  <div class="col-md-4">
    <h2>구글 검색 런처</h2>
    <p>원하시는 검색어를 입력해주세요.</p>
    <form class="form-inline" action="https://www.google.co.kr/search" method="get">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="검색어"/>
      </div>
      <button type="submit" class="btn btn-primary">구글 검색</button>
    </form>
  </div>
</div>
