<div class="jumbotron">
  <h1>
    <ruby>
      {{votes.on}}
      <rt>부먹</rt>
    </ruby>
    vs.
    <ruby>
      {{votes.off}}
      <rt>찍먹</rt>
    </ruby>
  </h1>
  <p class="lead">
    부먹과 찍먹, 당신의 선택은?
  </p>
  <p><a class="btn btn-lg btn-success" href="/vote" role="button">투표하기</a></p>
</div>
