<div>
  TODO: 비밀번호를 규칙에 맞게 입력해야 아래 입력란 활성화 스크립트
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>부먹파</h2>
    <p>소스 남겨서 뭐할건데? 안 붓고 뭐해?</p>
    <p><a class="btn btn-primary" href="/vote/on" role="button">+1</a></p>
  </div>
  <div class="col-lg-4">
    <h2>찍먹파</h2>
    <p>눅눅해지면 책임질래? 소스는 먹기 직전에 찍어야지!</p>
    <p><a class="btn btn-primary" href="/vote/off" role="button">+1</a></p>
  </div>
  <div class="col-lg-4">
    <h2>볶먹파</h2>
    <p>놀고들 있네..</p>
    <p><a class="btn btn-primary" href="/vote/both" role="button">+1</a></p>
  </div>
</div>
